# Created by .ignore support plugin (hsz.mobi)

*.xml

*.xml

.idea/artifacts/Phenomenology_war_exploded.xml

.idea/artifacts/Phenomenology_war.xml

.idea/encodings.xml

.idea/libraries/Spring_4_3_1_RELEASE.xml

.idea/libraries/Spring_MVC_4_3_1_RELEASE.xml

.idea/workspace.xml

*.MF

*.xml

*.class

target/

*.MF
