<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">141250089</property>
        <property name="hibernate.connection.url">jdbc:mysql://115.159.122.196:3306/phenomenology</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="POJO.Essay"/>
        <mapping class="POJO.EssayTag"/>
        <mapping class="POJO.EssayAttachment"/>
        <mapping class="POJO.Homepage"/>
        <mapping class="POJO.HomepageEssay"/>
        <mapping class="POJO.Person"/>
        <mapping class="POJO.SaAttachment"/>
        <mapping class="POJO.SaTag"/>
        <mapping class="POJO.Scientificachievement"/>
        <mapping class="POJO.Slide"/>
        <mapping class="POJO.User"/>


    </session-factory>
</hibernate-configuration>
