.title_div {
    margin-left: 41px;
    margin-top: 28px;
}

.links_div {
    width: 372px;
    height: 122px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 122px;
    display: inline-block;
    margin-left: 36px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#link1 {
    background-image: url("../img/1.png");
}

#link2 {
    background-image: url("../img/2.png");
}

#link3 {
    background-image: url("../img/3.png");
}

#link4 {
    background-image: url("../img/4.png");
}

.mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mask:hover {
    background: rgba(0, 0, 0, 0.1);
}