.sub_field {
    width: 363px;
    height: 460px;
    margin-top: 30px;
    margin-left: 40px;
    /*background-color: gray;*/
    vertical-align: top;
    display: inline-block;
}

.sub_hr {
    width: 0;
    height: 462px;
    border: 1px solid #b1bbbf;
    margin-top: 30px;
    margin-left: 40px;
    vertical-align: top;
    display: inline-block;
}

.sub_title_div {
    width: 363px;
    height: 30px;
}

.div_decorate {
    width: 16px;
    height: 16px;
    background-color: #1a799f;
    display: inline-block;
}

.sub_title {
    display: inline-block;
    margin-left: 20px;
}

.more {
    float: right;
    cursor: pointer;
}

.more:hover {
    color: #1a799f;
}

.each_title {
    width: 363px;
    height: 70px;
    margin-top: 15px;
}

.each_img {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.right_title {
    width: 275px;
    margin-left: 15px;
    float: right;
    display: inline-block;
}

.big_div {
    height: 44px;
    cursor: pointer;
}

.big_div:hover {
    color: #1a799f;
}

.small_div {
    width: 278px;
    height: 18px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 更多点开 */
.each_page {
    width: 814px;
    margin-top: 20px;
    margin-left: 38px;
}

.each_more {
    width: 814px;
    height: 105px;
    margin-bottom: 15px;
}

.more_title {
    height: 22px;
    line-height: 22px;
    border-bottom: 2px solid #979797;
    display: inline;
    cursor: pointer;
}

.more_title:hover {
    color: #1a799f;
    border-bottom: 2px solid #1a799f;
}

.more_img {
    width: 70px;
    height: 75px;
    margin-top: 9px;
    display: inline-block;
    vertical-align: top;
}

.more_text {
    width: 735px;
    height: 75px;
    margin-top: 9px;
    float: right;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.next_page {
    margin-top: 10px;
    margin-right: 10px;
    color: #60676d;
    cursor: pointer;
    display: inline-block;
}

.next_page:hover {
    color: #1a799f;
}

.pages_each {
    width: 20px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    border: 2px solid #60676d;
    color: #60676d;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.pages_selected {
    color: #1a799f;
    border: 2px solid #1a799f;
}

.pages_each:hover {
    color: #1a799f;
    border: 2px solid #1a799f;
}