.sub_field {
    width: 363px;
    height: 460px;
    margin-top: 30px;
    margin-left: 40px;
    /*background-color: gray;*/
    vertical-align: top;
    display: inline-block;
}

.sub_hr {
    width: 0;
    height: 462px;
    border: 1px solid #b1bbbf;
    margin-top: 30px;
    margin-left: 40px;
    vertical-align: top;
    display: inline-block;
}

.sub_title_div {
    width: 363px;
    height: 30px;
}

.div_decorate {
    width: 16px;
    height: 16px;
    background-color: #1a799f;
    display: inline-block;
}

.sub_title {
    display: inline-block;
    margin-left: 20px;
}

.more {
    float: right;
    cursor: pointer;
}

.more:hover {
    color: #1a799f;
}

.each_title {
    width: 363px;
    height: 70px;
    margin-top: 15px;
}

.each_img {
    width: 70px;
    height: 70px;
    border: 1px solid #979797;
    background-color: #d8d8d8;
    display: inline-block;
}

.right_title {
    width: 275px;
    margin-left: 15px;
    float: right;
    display: inline-block;
}

.big_div {
    height: 44px;
    cursor: pointer;
}

.big_div:hover {
    color: #1a799f;
}

.small_div {
    height: 18px;
    margin-top: 8px;
}