.sub_field {
    width: 303px;
    height: 460px;
    margin-top: 30px;
    margin-left: 40px;
    /*background-color: gray;*/
    vertical-align: top;
    display: inline-block;
}

.sub_hr {
    width: 0;
    height: 392px;
    border: 1px solid #b1bbbf;
    margin-top: 30px;
    margin-left: 40px;
    vertical-align: top;
    display: inline-block;
}

.sub_title_div {
    width: 303px;
    height: 30px;
}

.div_decorate {
    width: 16px;
    height: 16px;
    background-color: #1a799f;
    display: inline-block;
}

.sub_title {
    display: inline-block;
    margin-left: 20px;
}

.more {
    float: right;
    cursor: pointer;
}

.more:hover {
    color: #1a799f;
}

.each_title {
    width: 303px;
    height: 55px;
    margin-top: 15px;
}

.right_title {
    width: 300px;
}

.big_div {
    height: 22px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.big_div:hover {
    color: #1a799f;
}

.small_div {
    width: 290px;
    height: 35px;
    margin-top: 0;
    margin-left: 10px;
    overflow: hidden;
    padding-right: 3px;
    line-height: 18px;
}

/* 更多点开 */
.each_page {
    width: 700px;
    margin-top: 20px;
    margin-left: 38px;
}

.each_more {
    width: 700px;
    height: 105px;
    margin-bottom: 15px;
}

.more_title {
    height: 22px;
    line-height: 22px;
    border-bottom: 2px solid #979797;
    display: inline;
    cursor: pointer;
}

.more_title:hover {
    color: #1a799f;
    border-bottom: 2px solid #1a799f;
}

.more_img {
    width: 70px;
    height: 75px;
    margin-top: 9px;
    display: inline-block;
    vertical-align: top;
}

.more_text {
    width: 610px;
    height: 75px;
    margin-top: 9px;
    float: right;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    line-height: 19px;
}

.next_page {
    margin-top: 10px;
    margin-right: 10px;
    color: #60676d;
    cursor: pointer;
    display: inline-block;
}

.next_page:hover {
    color: #1a799f;
}

.pages_each {
    width: 20px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    border: 2px solid #60676d;
    color: #60676d;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.pages_selected {
    color: #1a799f;
    border: 2px solid #1a799f;
}

.pages_each:hover {
    color: #1a799f;
    border: 2px solid #1a799f;
}

/* 轮播图 */
.banner_div {
    width: 230px;
    height: 160px;
    box-shadow: 0 0 7px rgba(42, 91, 111, .14);
    overflow: hidden;
    position: relative;
}

.pic_title {
    width: 230px;
    height: 37px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    text-align: center;
    padding-top: 3px;
}

.banner_pic {
    width: 230px;
    height: 160px;
    margin-left: 0;
    float: left;
    cursor: pointer;
    display: inline-flex;
    position: relative;
}

.dot {
    width: 6px;
    height: 6px;
    margin: auto 3px;
    border-radius: 50%;
    background-color: #d8d8d8;
    box-shadow: 0 0 7px rgba(42, 91, 111, .14);
    cursor: pointer;
    display: inline-block;
}

.dot:hover {
    background-color: #1a799f;
}

.dot_div {
    position: absolute;
    right: 3px;
    bottom: 5px;
}