.each_search {
    width: 814px;
    max-height: 105px;
    margin-bottom: 5px;
}

.search_text {
    width: 925px;
    max-height: 55px;
    margin-top: 9px;
    overflow: hidden;
    line-height: 19px;
}

.search_list {
    width: 930px;
    height: 710px;
    margin-left: 50px;
    margin-top: 18px;
    overflow: auto;
}

.no_search {
    width: 100%;
    text-align: center;
    color: #d8d8d8;
    font-size: 30px;
    margin-top: 40px;
}